[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
asyncio = "*"
reactivex = "*"
pygrok = "*"
dacite = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
